.gradle/
.nb-gradle/
.settings/
bin/
build/
eclipse/
.classpath
.nb-gradle-properties
.project
*.launch
run/
*.iml
*.ipr
*.iws
.idea/
out/
translation-diff.diff
src/main/java/mcmultipart/*
src/main/resources/assets/mcmultiparttest/*